## References

[Official Pandas Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)


### Tips 

Remember to think about whether your manipulation of the dataframe is permanent. 

What should you include to update the dataframe if the action is not permanent?

For code with multiple components:

    - Think step-by-step
    - What is obtained at the end of each step?

###  Functions and syntax

For a data frame stored as ```df```

#### Information about a dataframe

```python
df.shape
```

```python
df.dtypes()
```

```python
df.info()
```

```python
df.describe()
```

```python
df.columns
```

```python
df.head()
```

```python
df.tail()
```

```python
df.sample()
```

#### Extracting columns as a series or dataframe

```python
df['column_name']   # Returns a series
```

```python
df[['column_name']]   # Returns a dataframe
```


```python
df[['column_a', 'column_b' ]]   # Returns a dataframe with column_a and column_b
```

#### Working with columns


```python
df[CONDITION] # Apply a valid condition to a column or columns. E.g  <, >, ==, !=  etc.
```

```python
df.drop(columns = ['column_a', 'column_b'])
```

```python
df.rename(columns = {'old_name': 'new_name'})
```




**Note** This list is not exhaustive. Update it with any other useful functions.

### 1. Import libraries

In [7]:
import pandas as pd
from pydataset import data

### 2. Load the dataset named 'Mroz'

In [9]:
## Load the dataframe using data()

df = data('Mroz')

### 3. Read a description of the data set 'Mroz'

The dataframe contains the following columns:

```work``` 

    work at home in 1975?
    
```hoursw```

    wife's hours of work in 1975

```child6```

    number of children less than 6 years old in household 
    
```child618```

    number of children between ages 6 and 18 in household

```agew```

    wife's age
    
```educw```

    wife's educational attainment, in years
```hearnw```

    wife's average hourly earnings, in 1975 dollars
```wagew```

    wife's wage reported at the time of the 1976 interview (not= 1975 estimated wage)
```hoursh```

    husband's hours worked in 1975
```ageh```

    husband's age
    
```educh```

    husband's educational attainment, in years
```wageh```

    husband's wage, in 1975 dollars
```income```

    family income, in 1975 dollars
```educwm```

    wife's mother's educational attainment, in years
```educwf```

    wife's father's educational attainment, in years
```unemprate```

    unemployment rate in county of residence, in percentage points
```city```

    lives in large city (SMSA) ?
```experience```

    actual years of wife's previous labor market experience

### 4. Find information about the dataframe

- How many rows are in the dataframe? [ ] 


- How many columns are in the dataframe? [ ] 


- What is the data type for ```income```? [ ] 

    
- What is the data type for   ```child6```? [ ] 

    
- What is the data type for  ```city```? [ ]

### 5. Working with column names

- View the list of column names.


- Change each column name to upper case.


- Verify that the dataframe has been altered.


- Change the column names back to lower case.


- Change the following column names:

```agew``` to ```age_wife```


```ageh``` to ```age_husband```


```wagew``` to ```wage_wife```


```wageh``` to ```wage_husband```

### 6. Creating columns

- Create a data frame named ```income_children``` which contains the following columns:

```income```      ```child6```       ```child618```

**Hint:** Consider creating a list which contains the column names shown above. Use that list to create the new dataframe.

- Create and add a column named ```total_children``` to the dataframe ```income_children```.  It should contain the sum of children under 6 years of age and children between the ages of 6 and 18.


- What is the maximum value for ```total_children```? [   ]

### 7. Additional questions

1. Find the total number of respondents who live in a large city. [ ] 


2. Find the total number of respondents who *do not* live in a large city [ ] 


3. What percentage of the respondents live in a large city?


4. Find the average income for each group:
    
    - Lives in a major city  [  ]
    
    - Does not live in a major city   [   ]
    
    
5. What is the range of husband's ages? [ ] 


6. What is the maximum number of years for a wife's education? [  ] 


7. What is the average hourly wage for husbands with at least 10 years of education? [   ] 


8. What is the average hourly wage for women with 5 - 10 years of education? [  ]  


9. How many respondents have more than 12 years of work experience? [ ] 


10. What is the average income level for the following:

- women who live in a major city and have at least 10 years of experience [ ] 
- women who do not live in a major city and have at least 10 years of experience [ ]